<html>
    <head>
        <title>Verse</title>
        <link rel="stylesheet" href="css/all.css">
    </head>
    <body>
        
    </body>
    <script src="js/vendor/pixi.js"></script>
    <script src="js/game.js"></script>
</html>