@import "compass/css3";

body {
    background-image: url('/images/earth.jpg');
    background-size: 100%;
    background-position: top center;
}

.login-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -150px;
    width: 300px;
    min-height: 400px;
    height: auto;

    background-color: white;
    border-radius: 10px;

    
    border: 1px solid #fff;
    @include box-shadow(2px 2px 10px rgba(0,0,0,.1));

    .logo {
        text-align: center;
        margin: 35px 0;
    }

    form {
        margin: 15px;

        input {
            margin-bottom: 5px;
        }

        button.btn {
            margin-top: 15px;
        }
    }
}