@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\000033}}
body {
  background-image: url("/images/earth.jpg");
  background-size: 100%;
  background-position: top center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\000039}}
.login-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -150px;
  width: 300px;
  min-height: 400px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #fff;
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\0000326}}
.login-frame .logo {
  text-align: center;
  margin: 35px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\0000331}}
.login-frame form {
  margin: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\0000334}}
.login-frame form input {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/landfrom\/verse\/web-server\/public\/scss\/base\.scss}line{font-family:\0000338}}
.login-frame form button.btn {
  margin-top: 15px;
}
